/* CSS reset by Josh Comeau */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

* {
  font-family: "Inter", sans-serif;
}

html {
  --mobile-breakpoint: 550px;
  --primary-color: hsl(25, 67%, 47%);
}

.main-container {
  width: clamp(600px, 65%, 1000px);
  margin: 0 auto;
  max-width: 100%;
  height: 100%;
  /* to combat margin collapse */
  padding: 0.05px;
  /* this flex container allows content to fill the whole height and nothing more */
  display: flex;
  flex-direction: column;
}

@media (max-width: 550px) {
  .main-container {
    padding: 20px;
  }
}

/* main-container is intended to wrap everything
centered-content-container wraps content is often used for stuff beneath header */

.centered-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  /* horizontally center */
  position: absolute;
  inset: 0;
  margin: auto;
  /* vertically it should be some percentage from the top */
  top: 30%;
}

/* button styles */

.whatsio-button {
  background: var(--primary-color);
  padding: 8px 20px;
  border-radius: 8px;
  border: none;
  text-decoration: none;
  color: white;
  display: inline-block;
  transition: transform 400ms;
  cursor: pointer;
}

.whatsio-button:hover {
  transform: scale(1.2) rotate(5deg);
  transition: transform 100ms;
}

.whatsio-button:active {
  transform: scale(1.2) rotate(5deg) translateX(5px);
  transition: transform 100ms;
}

.whatsio-button:active:not(:focus-visible) {
  outline: none;
}

.whatsio-text-input {
  accent-color: var(--primary-color);
}

.whatsio-button-disabled, .whatsio-button-disabled:hover {
  opacity: 0.8;
  transition: none;
  transform: none;
  cursor:not-allowed;
  /* disables all clicks for the case of links */
  pointer-events: none;
}

input[type='text'] {
  padding: 2px 4px;
}